---
- name: list all libvirt vms
  virt:
    command: list_vms
  register: all_vms
  tags: [ deploy_nodes, rhcos, bootstrap, add_workers ]

- name: initialize and empty list of all the ocp4 nodes
  set_fact:
    ocp4_nodes: [ 'bootstrap' ]
  tags: [ deploy_nodes, rhcos, bootstrap, add_workers ]

- name: add master nodes to ocp4 nodes list
  vars:
    vm_name: "master-{{ '%00x' |format(item) }}"
  set_fact:
    ocp4_nodes: "{{ ocp4_nodes + [ vm_name ] }}"
  loop: "{{ range(0, master_count|int)|list }}"
  delay: 10
  tags: [ deploy_nodes, rhcos, bootstrap, add_workers]

- name: add compute nodes to ocp4 nodes list
  vars:
    vm_name: "compute-{{ '%00x' |format(item) }}"
  set_fact:
    ocp4_nodes: "{{ ocp4_nodes + [ vm_name ] }}"
  loop: "{{ range(0, compute_count|int)|list }}"
  delay: 10
  when: compute_count|int != 0
  tags: [ deploy_nodes, rhcos, bootstrap, add_workers]
  
