---
# - name: deploy ocp4 configs default state
#   set_fact:
#     deploy_ocp4_configs: true
#   tags: [ ignitions, deploy_nodes ]

 - name: create the directory {{ openshift_install_dir }} to store the ignition files
   file:
     path: "{{ openshift_install_dir }}"
     state: directory
   tags: [ ignitions, deploy_nodes ]

 - name: Create ocp4 install config file {{ openshift_install_dir }}/install-config.yaml
   template:
     src: install-config.yaml.j2
     dest: "{{ openshift_install_dir }}/install-config.yaml"
     owner: "{{ local_user_account }}"
     group: "{{ local_user_account }}"
   when: deploy_ocp4_configs|bool
   tags: [ ignitions, deploy_nodes ]

 - name: stash the generated {{ openshift_install_dir }}/install-config.yaml
   copy:
     src: "{{ openshift_install_dir }}/install-config.yaml"
     dest: "{{ openshift_install_dir }}/install-config.yaml.bkup"
   when: deploy_ocp4_configs|bool
   tags: [ ignitions, deploy_nodes ]

 - name: Create ignition files
   command: "/usr/local/bin/openshift-install --dir={{ openshift_install_dir }} create ignition-configs"
   args:
     creates: "{{ openshift_install_dir }}/.openshift_install_state.json"
   when: deploy_ocp4_configs|bool
   tags: [ ignitions, deploy_nodes ]

 - name: "Recursively change ownership of {{ openshift_install_dir }}"
   file:
     path: "{{ openshift_install_dir }}"
     state: directory
     recurse: yes
     owner: "{{ local_user_account }}"
     group: "{{ local_user_account }}"
   tags: [ ignitions, deploy_nodes ]
