---
# tasks file for ocp4_kvm_deployer

- name: Tear down the OpenShift Cluster
  import_tasks: tear_down.yml
  when: tear_down|bool

- name: Bootstrap the cluster
  when: >
    deploy_cluster|bool and
    not tear_down|bool 
  tags: bootstrap_cluster
  block:
    - name: Check if the cluster is already deployed
      import_tasks: check_cluster.yml

    - name: Setup prerequisites
      import_tasks: pre_tasks.yml
      when: not cluster_install_status|bool
      
    - name: Setup the infrastructure
      import_tasks: setup_cluster_infrastructure.yml
      when: not cluster_install_status|bool

    - name: Bootstrap the cluster  
      import_tasks: bootstrap_cluster.yml
      when: not cluster_install_status|bool

    - name: Generate ansible ini inventory
      import_tasks: generate_inventory.yml
      when: bootstrap_complete|bool

    - name: Cluster Bootstrap Message
      debug:
        msg: |
          The cluster bootstrap is complete.
          All the control nodes should be in a Ready state and most
          of the cluster operators available status should be True
      when: bootstrap_complete|bool

- name: Complete the OpenShift Cluster Deployment
  when: > 
    bootstrap_complete|bool and 
    not tear_down|bool
  tags: complete_cluster_install
  block:
    - name: Setup OpenShift Registry with NFS storage provisioner
      import_tasks: openshift_registry.yml
      tags: configure_registry

    - name: Waiting up to 200 minutes for OpenShift install complete - Actual time is up to 76m - You can monitor the progress in another terminal by tailing {{ openshift_install_dir }}/ocp4/install-complete.log
      shell: |
        oc get csr -ojson | jq -r '.items[] | select(.status == {} ) | .metadata.name' | xargs --no-run-if-empty oc adm certificate approve
        timeout 10 openshift-install --dir "{{ openshift_install_dir }}"  wait-for     install-complete --log-level debug 2>&1 | tee -a {{ install_complete_log }}
      register: install_status
      until: "'Install complete!' in install_status.stdout"
      retries: 200
      delay: 60
      environment:
        KUBECONFIG: "{{ openshift_install_dir }}/auth/kubeconfig"
      become: no
      changed_when: False
 
    - name: Run a smoketest to verify cluster status
      include_tasks:
        file: smoketest.yml
        apply:
          tags:
            - smoketest-verify
      tags: [verify-cluster, complete_install]   

    - name: Configure LocalStorage Class
      import_tasks: configure-local-storage.yml
      tags: [ localstorage, postinstall ]
      when: >
        configure_local_storage|bool and 
        compute_node_count|int != 0