---
- name: Wait for {{ vm_name }} RHCOS installation to complete
  virt:
    command: list_vms
    state: shutdown
  register: shutdown_vms
  until: vm_name in shutdown_vms.list_vms
  retries: 120
  delay: 30
  #tags: [ rhcos_wait, bootstrap_shut]
