apiVersion: v1
baseDomain: {{ ocp4_cluster_domain }}
compute:
- name: compute
  hyperthreading: Enabled
  platform: {}
  replicas: {{ compute_count }}
controlPlane:
  name: ctrlplane
  hyperthreading: Enabled
  platform: {}
  replicas: {{ ctrlplane_count }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
  machineCIDR: 10.0.0.0/16
  serviceCIDR: 172.30.0.0/16
  type: OpenShiftSDN
platform:
  none: {}
pullSecret: '{{ lookup('file', pull_secret) }}'
sshKey: {{ ssh_ocp4_public_key }}
