apiVersion: "local.storage.openshift.io/v1"
kind: "LocalVolume"
metadata:
  name: "localfs-disks"
  namespace: "{{ localstorage_namespace }}"
  annotations:
    storageclass.kubernetes.io/is-default-class: 'true'
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
{% for compute in ocp4_compute_nodes %}
{% if 'compute' in compute %}
            - {{ compute }}.{{cluster_name }}.{{ ocp4_cluster_domain }}
{% endif %}
{% endfor %}
  storageClassDevices:
    - storageClassName: "localfs-sc"
      volumeMode: Filesystem
      fsType: xfs
      devicePaths:
      {% for fs_disk in localstorage_fs_disk %}
        - {{ fs_disk }}
      {% endfor %}
