apiVersion: local.storage.openshift.io/v1
kind: LocalVolume
metadata:
  name: local-disks
  namespace: "local-storage"
  annotations:
    storageclass.kubernetes.io/is-default-class: 'True'
spec:
  nodeSelector:
    nodeSelectorTerms:
    - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
{% for compute in ocp4_compute_nodes %}
{% if 'compute' in compute %}
            - {{ compute }}.{{cluster_name }}.{{ ocp4_cluster_domain }}
{% endif %}
{% endfor %}
  storageClassDevices:
    - storageClassName: "local-sc"
      volumeMode: Filesystem
      fsType: xfs
      devicePaths:
        - {{ localstorage_mount_path }}
