apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: image-registry-storage
spec:
  accessModes:
  - ReadWriteMany
  storageClassName: nfs-storage-provisioner
  resources:
    requests:
      storage: 80Gi